.containd{
  background: white;
  height: 650px;
}
header{
  height: 80px;
  font-family: 'Galada', cursive;
  background: rgb(0, 98, 255);
  box-shadow: 2px 0px 1px 1px gray;
  padding: 2px;
}
h1{
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 2px gray;
}
.top-note{
  font-weight: bold;
  font-style: italic;
  margin-top: 2%;
  
}
#cOne{
  margin-top: 3%;
}
.equ-sign{
  margin: 3%;
  font-size: 22px;
  font-weight: bold;
}
select{
  width: 30%;
  font-size: 20px;
  border-radius: 9px;
  border: 2px solid rgb(0, 98, 255); 
}
.amt{
  border-radius: 5px;
  height: 31px;
  padding: 2px;
  border: 2px inset rgb(0, 98, 255); 
}
#cTwo{
  margin-bottom: 4%;
}
.btn{
  font-weight: bold;
  font-size: 25px;
  color: rgb(0, 98, 255); 
  background: #fff;
  box-shadow: 1px 1px 1px gray;
  border: 1px outset rgb(0, 98, 255); 
}
.btn:hover {
  color: #fff;
  background:  rgb(0, 98, 255);
}
.outPut{
  margin-top: 4%;
  color: rgb(0, 98, 255);
  font-size: 22px;
}
hr{
  border-top:1px solid rgb(0, 98, 255);
 margin: 0 3%;
 margin-top: 2%;
}
footer {
  margin-top: 2%;
}